{% extends "base/base_1col.html" %}

{% block www_title %}{% trans "Password Reset Confirmation" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}
    {% if form %}
    <form class="main_form" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Enter a New Password" %}</legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Change Password" %}" />
    </form>
    {% else %}
        <h2>{% trans "Password reset" %}</h2><br/>
        <p>{% trans "This password reset link has already been used.<br/> If you forgot your password again, the click" %} <a href="{% url 'auth_password_reset' %}">{% trans "here" %}</a> {% trans "to request a reset again" %}.</p>
    {% endif %}
{% endblock www_content_box_1 %}

