{% extends "base/base_1col.html" %}

{% block www_title %}{% trans "Password Reset Requested" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}
    <br/><h2>{% trans "Password Reset Request Submitted!" %}</h2><br/>
    <p>
        {% trans "Instructions for resetting your password was sent to the e-mail address you provided.<br/> You should be receiving it shortly! Just follow the instructions" %}.
    </p>
{% endblock www_content_box_1 %}

