{% extends "base/base_1col.html" %}

{% block www_title %}{% trans "Password Reset Complete" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}
    <br/><h2>{% trans "Account Password Reset Successful!" %}</h2><br/>
    <p>
        {% trans "Your password has been set. You may go ahead and log in now" %}. <a href="{% url 'auth_login' %}">{% trans "log in" %}</a>.
    </p>
{% endblock www_content_box_1 %}

