{% extends "base/base_1col.html" %}

{% block www_title %}{% trans "Password Reset" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}

    Please enter your account's e-mail address and we'll send you instructions on how-to reset your password.

    <form class="main_form" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Password Reset" %}</legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Send Instruction" %}" />
    </form>
    
{% endblock www_content_box_1 %}


