

<div class="public_header">
    {% if profile.is_employee %}User{% else %}Business{% endif %} Info&nbsp;&nbsp;&nbsp;
    
    {% if not is_public_view %}
        <a class="tooltip" href="{% url 'profile_edit_details' %}">
            <img src="{{STATIC_URL}}img/edit.png" />
            <span class="ui-widget ui-widget-content ui-corner-all forward">
                Edit {% if profile.is_employee %}User{% else %}Business{% endif %} Info
            </span>
        </a>
    {% endif %}
</div>

{% if profile_dict %}
    <table class="tree-browser">
    {% for field in profile_dict %}
        {% if field.lable|lower != 'last activity' or request.user.is_superuser %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="lable">{{ field.lable }}:</td>
                <td class="value">{{ field.value }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endif %}

{% if profile.about %}
    <div class="profile-subheader">
        About {% if profile.is_employee %}Me{% else %}Us{% endif %}
    </div>
    <div class="profile_description">{{profile.about|linebreaks}}</div>
{% endif %}