
<div class="public_header">
    Contact Info&nbsp;&nbsp;&nbsp;
    {% if not is_public_view %}
    <a class="tooltip" href="{% url 'emailmgr_email_list' %}">
        {% if contacts %}
            <img src="{{STATIC_URL}}img/edit.png" />
            <span class="ui-widget ui-widget-content ui-corner-all forward">
                Edit contact details
            </span>
        {% else %}
            <img src="{{STATIC_URL}}img/add.gif" />
            <span class="ui-widget ui-widget-content ui-corner-all forward">
                Add new contact
            </span>
        {% endif %}                
    </a>
    {% endif %}
</div>

{% if request.user.is_authenticated %}
    {% if contacts %}
        <table class="tree-browser">
        {% for field in contacts %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="lable">{{ field.lable }}:</td>
                <td class="value">{{ field.value }}</td>
                <td class="level image">
                    <a href="javascript:void(0)" class="tooltip help_cursor">
                        <img src="{{STATIC_URL}}img/info.png" />
                        <span class="ui-widget ui-widget-content ui-corner-all center large">
                            {{ field.help }}
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endif %}