{% extends "profiles/base_3col.html" %}


{% block www_title %}{{block.super}} -- {% trans "Edit Skill Details " %} [{{request.user.username}}]{% endblock www_title %}


{% block www_content_box_1_2 %}
<div id="list_management">
    <div id="account-settings">
        <form class="main_form" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Update Skill" %}</legend>
                {{ form.as_p }}
            </fieldset>
            <input style="float:left" type="submit" value="{% trans "Update" %}" />
            <a href="{% url 'employee_skill_list' %}" class="gray-button cancel-button post-link">Cancel<a/>
        </form>
    </div>
</div>
{% endblock www_content_box_1_2 %}
