{% if this_user.get_profile.is_enabled %}

    <div id="single_object_action_view">
        <span class="single_object_action_title">Employer Activities</span>
        
        <div class="nobr border_tb">
            {% if request.user.is_authenticated %}
                {% with request.user|is_bookmarked:profile as bookmarked %}
                    {% if not bookmarked %}
                        <span class="favorites_icon_add"></span>
                        <a rel="nofollow" id="{{profile.id}}" href="{% url 'bookmark_add_profile_ajax' %}" class="post_link_bookmark_profile_add">
                                add employer to favorites
                        </a>
                    {% else %}
                        <span class="favorites_icon_del"></span>
                        <a rel="nofollow" id="{{profile.id}}" href="{% url 'bookmark_del_job_ajax' %}" class="post_link_bookmark_profile_del">
                            remove employer from favorites
                        </a>
                    {% endif %}
                {% endwith %}
            {% else %}
                <span class="favorites_icon_add"></span>
                <a rel="nofollow" id="{{profile.id}}" href="{% url 'auth_login' %}" class="login_required_or_signup">
                    add employer to favorites
                </a>
            {% endif %}
        </div>
        <div class="action_plus_like">
            <span class="fb-like-box">
                <div class="fb-like" data-send="true" data-layout="button_count" data-width="245" data-show-faces="false" data-font="verdana"></div>
            </span>
        </div>
    </div>

{% else %}

{% endif %}