{% extends "base/base_1col.html" %}

{% block www_title %}{% trans "Contact Us" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}
    <form class="main_form" action="" enctype="multipart/form-data" method="post" accept-charset="utf-8">{% csrf_token %}
        <fieldset>
            <legend>{% trans "Contact Us" %}</legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Send Message" %}" />
    </form>
{% endblock www_content_box_1 %}
