{% extends "base/base_3col.html" %}

{% block www_title %}{% trans "Account Signup Complete" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1_2 %}
    <br/><br/><br/><br/>
    <h2>{% trans "Please check your email now." %}</h2>
    <br />
    <p>{% trans "An activation link has been sent to the email address you supplied, along with instructions for activating your account." %}</p>
{% endblock www_content_box_1_2 %}




