{% extends "base/base_1col.html" %}


{% block www_title %}{% trans "Account Activation Failed" %}{% endblock www_title %}

{% block www_container_title %}
    {% include "portal/submenu.html" %}
{% endblock www_container_title %}

{% block www_content_box_1 %}
    <br/>
    <h2>{% trans "Account Activation Failed!" %}</h2>
    <br/>
    <p>
    {% blocktrans %} 
    Sorry, it didn't work!<br/>
    Either your account is already active, or your activation link was incorrect or has expired.<br/>
    Activation keys are only valid for few days after account signup. 
    {% endblocktrans %}
    </p><br/>
    <p>{% trans "If you already activated your account, then try to" %} <a href="{% url 'auth_login' %}">{% trans "log in" %}</a>.
    </p>
{% endblock www_content_box_1 %}


